.container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.leftSectionWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
}
.leftSection {
  width: 275px;
  height: 100dvh;
}
.leftSectionFixed {
  position: fixed;
  /* fixed로 설정한 경우 너비를 100%로 설정해도 부모 너비를 못가져옴 : inherit 사용 */
  background-color: orange;
  width: inherit;
  height: 100dvh;
}

.rightSectionWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  height: 100dvh;
}
.rightSectionInner {
  display: flex;
  justify-content: space-between;
  height: 100dvh;
  width: 990px;
}

.main {
  width: 600px;
  background-color: red;
}
.rightSection {
  background-color: blue;
  width: 350px;
  height: 100%;
}

.search {
  position: fixed;
  height: 42px;
  width: inherit;
  border-radius: 21px;
  background-color: rgb(239, 243, 244);
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.search svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.search input {
  outline: none;
  background-color: inherit;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
}

.logo {
  display: inline-block;
  height: 56px;
  margin-top: 2px;
}
.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPill:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
